<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Cache-directive" content="no-cache" />
    <meta http-equiv="Pragma-directive" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <title>Library App</title>
</head>
<body>
<div class="container">
        <header>
            <h1>Library Application</h1>
            <div class="byline">
                <a href="/">Home</a>
            </div>
        </header>
    
        <h2>Statistics</h2>
    
<div>
        <table>
        
	    {% for id in ids %}
        <tr>
        <td width="40%">      
        <h3>{{id}}</h3>
        <div id="{{id}}"></div>
        </td> 
        </tr>
    	{% endfor %}
        
        </table>
</div>
    
</div>
</body>

<footer>
    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-basic-latest.js"></script>

    <script type="text/javascript">

        var graphs = {{graphJSON | safe}};
        var ids = {{ids | safe}};

        for(var i in graphs) {
            Plotly.plot(ids[i], // the ID of the div, created above
                        graphs[i].data,
                        graphs[i].layout || {});
        }

    </script>
</footer>

</html>